body{
    background-color: black;
}

h1, h2, h3 { text-align: center;
    color: white;

}

h1 { font-size: 150px;}

.border { border: dashed 5px blue;

}

#pac {height: 250px;
}

header { color:orange; font-weight:2000px;}

.orange { height: 90px;
}

#ghost { height: 220px;

}


  

